.nyam {
            font-family: Arial, sans-serif;
            font-size: 16px;
            color: rgb(255, 255, 255);
            border: 5px dashed rgb(0, 0, 0);
            border-radius: 15px;
        }

        .cukay {
            background-color: rgb(36, 184, 51);
            padding: 30px;
            margin-left: 50px;
        }

        .mmg {
            background-color: rgb(207, 47, 47);
            padding: 30px;
            margin-left: 50px;
        }

        .jarak {
            display: inline-block; 
            margin-bottom: 30px;
        }